

body {
	font-family: 'Raleway', sans-serif;

}

.navbar-brand {
	float: left;
	padding: 5.5px 15px;
}
.navbar-inverse {
	background-color: #39424e;
}
a {
	color: #39424e;
}
a:hover {
	color: #39424e;
}
#inpSt {
	display: none;
}
nav {
	border-bottom: 3px solid #2dc264 !important;
}
.btn-success {
	background-color: #2cc063;
}
.img-circle {
	width: 72px;
	height: 72px;
}
li { 
	cursor: pointer; 
	cursor: hand;
}



.panel > .list-group .list-group-item:first-child {
	/*border-top: 1px solid rgb(204, 204, 204);*/
}

@media (max-width: 767px) {
	.visible-xs {
		display: inline-block !important;
	}
	.block {
		display: block !important;
		width: 100%;
		height: 1px !important;
	}
}
#back-to-bootsnipp {
	position: fixed;
	top: 10px; right: 10px;
}


.c-search > .form-control {
	border-radius: 0px;
	border-width: 0px;
	border-bottom-width: 1px;
	font-size: 1.3em;
	padding: 12px 12px;
	height: 44px;
	outline: none !important;
}
.c-search > .form-control:focus {
	outline:0px !important;
	-webkit-appearance:none;
	box-shadow: none;
}
.c-search > .input-group-btn .btn {
	border-radius: 0px;
	border-width: 0px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	height: 44px;
}


.c-list {
	padding: 0px;
	min-height: 44px;
}
.title {
	display: inline-block;
	font-size: 1.7em;
	font-weight:;
	padding: 5px 15px;
}
ul.c-controls {
	list-style: none;
	margin: 0px;
	min-height: 44px;
}

ul.c-controls li {
	margin-top: 8px;
	float: left;
}

ul.c-controls li a {
	font-size: 1.7em;
	padding: 11px 10px 6px;   
}
ul.c-controls li a i {
	min-width: 24px;
	text-align: center;
}

ul.c-controls li a:hover {
	background-color: rgba(51, 51, 51, 0.2);
}

.c-toggle {
	font-size: 1.7em;
}

.name {
	font-size: 1.2em;
	font-weight: 500;
}

.c-info {
	padding: 5px 10px;
	font-size: 1.25em;
}




.drop-zone {
	min-height: 200px;
	border-width: 2px;
	margin-bottom: 20px;
}


.drop-zone {
	color: #ccc;
	border-style: dashed;
	border-color: #ccc;
	// line-height: 200px;
	text-align: center
}
.drop-zone.drop {
	color: #222;
	border-color: #222;
}


hr.primary {
	max-width: 50px;
	border-color: #00BCD4;
	border-width: 3px;
}
hr.primary-white {
	max-width: 50px;
	border-color: #fff;
	border-width: 3px;
}

				/*
		css for scroll bar
		*/
		* {
			-webkit-transition: .5s ease-out;
			-moz-transition: .5s ease-out;
			-o-transition: .5s ease-out;
			transition: .5s ease-out;
			list-style: none;
		}
		body::-webkit-scrollbar {
			width: 7px;
		}

		body::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		}

		body::-webkit-scrollbar-thumb {
			background-color: #39424e;
			border-radius:3px;
		}

		body::-webkit-scrollbar-thumb:hover{
			background-color:#39424e;
			border:1px solid #39424e;
		}
		body::-webkit-scrollbar-thumb:active{
			background-color:#1db755;
			border:1px solid #28af59;
		} 

		/*
		Css for twitter card
		*/

		.user-name 
		{
			font-size: 18px;
		}
		.card-footer 
		{
			padding: 0.75rem 1.25rem;
			background-color: #fff;
			border-top: 1px solid rgba(0, 0, 0, 0.12); 
		}
		.card-image
		{
			text-align: center;
		}
		.card-content 
		{
			padding: 15px;
		}
		.card-body 
		{
			min-height: 88px;
		}
		.card_org 
		{
			border: 0;
			margin: 10px;
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.07),0 1px 1px -2px rgba(0,0,0,.02),0 1px 5px 0 rgba(0,0,0,.02);
			transition: all 0.4s ease;
			-webkit-transition: all 0.4s ease;
			
		}
		.card_org:hover 
		{	
			border: 0;
			box-shadow: 0 11px 16px 0 rgba(23,84,111,0.18);
		}
		.card 
		{
			border: 0;
			margin: 10px;
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.07),0 1px 1px -2px rgba(0,0,0,.02),0 1px 5px 0 rgba(0,0,0,.02);
			transition: all 0.4s ease;
			-webkit-transition: all 0.4s ease;
			min-height: 350px;
			background-size: cover;
			background-position: center;
		}
		.card:hover 
		{	
			border: 0;
			//box-shadow: 0 11px 16px 0 rgba(23,84,111,0.18);
		}

		.card-footer-btn
		{
			margin-top: 8px;
		}

		


		
		
		.color-primary 
		{
			color:#00BCD4;
		}
		.color-danger
		{
			color:#b13058;
		}
		.color-white
		{
			color: #ffffff;
		}
		.color-whitesmoke
		{
			color: whitesmoke;
		}
		.img-small
		{
			height: 35px;
		}
		.btn-primary 
		{
			background-color: #00BCD4;
			
		}
		.btn-skills
		{
			padding: 30px;
			margin: 10px;
			min-width: 157px;
		}



 /**
  * list top
  */
  ul.icon {
  	font-size: 54px;
  	margin: 0.5em 0 0.5em 0;
  	-webkit-padding-start: 0px;
  }
  ul.icon li {
  	padding: 20px;
  	display: inline-block;
  	opacity: 0.5;
  	-webkit-transition: all 0.3s linear;
  	-moz-transition: all 0.3s linear;
  	-o-transition: all 0.3s linear;
  	transition: all 0.3s linear;
  }
  ul.icon li:hover {
  	opacity: 1.0;
  }
  /**
   * Nav bar css
   */

   nav.navbar-findcond {   }
   nav.navbar-findcond a { color: #fff; }
   nav.navbar-findcond ul.navbar-nav a {  }

   nav.navbar-findcond ul.navbar-nav a:hover { border-color: #fff; }
   nav.navbar-findcond li.divider { background: #fff; }
   nav.navbar-findcond button.navbar-toggle {  border-radius: 2px; }
   nav.navbar-findcond button.navbar-toggle:hover { border:1px #fff solid; }
   nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
   nav.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
   	color: #2d6e9d;
   	background-color: #ffffff;
   }

   nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #fff; }
   nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
   nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #fff; color: #fff; }
   .navbar-inverse .navbar-nav>li>a { color: #fff; }









/*
nprogress - css
*/

#nprogress .bar {
	background: #2dc565;
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
}


#nprogress .spinner-icon {
	width: 15px;
	height: 15px;
	box-sizing: border-box;
	border: solid 2px transparent;
	border-top-color: #2dc565;
	border-left-color: #2dc565;
	border-radius: 50%;
	-webkit-animation: nprogress-spinner 150ms linear infinite;
	animation: nprogress-spinner 150ms linear infinite;
}



.card_head {
	background-color: #00BCD4;
}